.datawrapper {
}

.datawrapper > * {
	font-size: 160%;
	line-height: 200%;
}

.datawrapper > .label {
	padding-left: 1em;
}

.datawrapper > .data {
	text-align: right;
}

.datawrapper > .unit {
}

.danger {
	color: #FFF;
	background-color: #F00;
}

.dangerYellow{
	background-color: #FF0;
}

.dangerOrange{
	background-color: #F80;
}

.lowvalue{
	color: #FFF;
	background-color: #00F;
}
